body {
  margin: 0;
  font-family: "Courier New", monospace;
  background-color: #020617;
  color: #00ff9f;
}

header {
  text-align: center;
  padding: 30px;
  border-bottom: 1px solid #00ff9f;
}

nav {
  text-align: center;
  padding: 15px;
}

nav a {
  color: #00ff9f;
  margin: 0 15px;
  text-decoration: none;
}

nav a:hover {
  text-shadow: 0 0 10px #00ff9f;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 40px;
}

.card {
  background: rgba(0, 255, 159, 0.05);
  border: 1px solid #00ff9f;
  padding: 20px;
  margin: 20px 0;
  border-radius: 8px;
  opacity: 0;
  transform: translateY(20px);
  transition: 0.6s;
}

.card.show {
  opacity: 1;
  transform: translateY(0);
}

.typing {
  border-right: 2px solid #00ff9f;
  white-space: nowrap;
  overflow: hidden;
}

footer {
  text-align: center;
  padding: 20px;
  border-top: 1px solid #00ff9f;
}
